.slides-con {
    margin: auto;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: black;
    overflow: hidden;
}

.slider {
    width: 400%;
    display: flex;
    cursor: grab;

    &.true {
        cursor: grabbing;
    }
}

.slide {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;

    &:first-child {
        background-color: #222;
    }

    &:nth-child(2) {
        background-color: #444;
    }

    &:nth-child(3) {
        background-color: #666;
    }

    &:last-child {
        background-color: #888;
    }
}